<.flash_group flash={@flash} />
<p>
  <.form :let={f} for={%{"name" => ""}} action={~p"/test"}>
    <.input type="text" field={f[:name]} />
    <.button type="submit">New Game</.button>
  </.form>
</p>
